.indv-flower img {
  margin: 5px;
  height: 200px;
  width: 200px;
  float: left;
  padding: 10px;
}

.indv-flower p {
  /*text wrap*/
}

.indv-flower {
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 0 5px gray;
  height: 230px;
}

.flower-name {
  font-family: 'Parisienne', cursive;
  font-size: 36px;
  padding: 10px;
}
