.flowers-div {
  background-color: rgba(255,255,255,0.7);
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.flowers-div h2 {
  font-family: 'Sacramento', cursive;
  font-size: 30px;
  margin: 10px;
}

.color-palette div {
  display: inline-block;
  text-align: center;
  height: 100px;
  width: 200px;
  padding-top: 0px;
}

.color-palette p {
  font-family: 'Sacramento', cursive;
  font-size: 25px;
}

.indv-flower img {
  height: 100px;
  width: 100px;
}

.indv-flower {
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: column;*/
  margin-bottom: 15px;
  margin-top: 40px;
  width: 20%;
  word-wrap: normal;
}

div p {
  margin: 0px;
}

.flower-name {
  font-family: 'Sacramento', cursive;
  font-size: 30px;
}
