.form-container {
  background-color: rgba(255,255,255,0.7);
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  text-align: center;
  box-shadow: 0px 0px 13px grey;
}

.form-container button {
    outline: none;
    border: 1px solid #091221;
    padding: 6px;
    background-color: inherit;
    height: 30px;
    margin: 15px;
    width: 90px;
}

.form-container .season-button:hover {
  background-color: lightcoral;
}

.form-container .submit:hover {
  background-color: lightcoral;
}

.form-container .activeSeasonButton {
  background-color: lightcoral;
}

.colors-div .activeColorButton {
  border: 1px solid gray;
  font-size: 0px;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 0 0 5px gray;
}

.colors-div .color {
  font-size: 0px;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
}

.selected-colors {
  display: inline-block;
}

.form-container h2 {
  font-family: 'Parisienne', cursive;
}

.form-container h3 {
  font-weight: 400;
  font-size: 20px;
  margin: 30px 10px 10px 10px;
}

.form-container h2 {
  font-size: 35px;
  margin: 10px;
}


.colors-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.selected-colors-div div {
  display: inline-block;
  margin: 5px;
}

@media screen and (max-width: 360px) {
    .form-container h3 {
        font-size: 20px;
    }
}
